
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://i.pinimg.com/originals/84/dc/49/84dc49232abd75f1f8f8b355acd2d2b8.jpg");
  background-position: fixed;
  /*background-size: fill;
  background-repeat: no-repeat;*/

}


#root {
  text-align: center;
}

.logo {
  max-width: 50%;
}

header {
  font-size: 24pt;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(17, 126, 111);
  

}


/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 for Hex shape*/

#hexGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  overflow:hidden;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.hex {
  max-width: 100%;
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width: 100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;

  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex p {
  font-size: 10pt;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION */
/* USED THIS GIT CODE: https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices and above hover effect*/

@media (min-width:1px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%;
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    grid-column-start: 2;
  }
}

/*
@media (max-width: 1200px) and (min-width:901px) { <- 4-3  hexagons per row 
  #hexGrid{
    grid-template-columns: repeat(8,1fr);
    padding-bottom: 5.5%;
  }
  .hex:nth-child(7n+5){  first hexagon of even rows 
    grid-column-start: 2;
  }
}

@media (max-width: 900px) and (min-width:601px) {  <- 3-2  hexagons per row 
  #hexGrid{
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 7.4%;
  }
  .hex:nth-child(5n+4){  first hexagon of even rows
    grid-column-start: 2;
  }
}

@media (max-width: 600px) { <- 2-1  hexagons per row
#hexGrid{
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 11.2%;
  grid-gap:5px;
} 
.hex:nth-child(3n+3){  first hexagon of even rows 
  grid-column-start: 2;
}
}


@media (max-width: 400px) {
  #hexGrid {
      font-size: 13px;
  }
} */

/*info for weed board*/

.hexWeed {
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hexWeed::after{
  content:'';
  display:block;
  padding-bottom: 80.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width:100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexWeedLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexWeed img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hexWeed h1, .hexWeed p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(128, 26, 0, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hexWeed p {
  font-size: 10pt;
}
.hexWeed h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hexWeed h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hexWeed p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexWeedLink:hover h1, .hexLinkWeed:focus h1,
.hexWeedLink:hover p, .hexLinkWeed:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*info for plant board*/

.hexPlant {
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hexPlant::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width:100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexPlantLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexPlant img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hexPlant h1, .hexPlant p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(128, 115, 0, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hexPlant p {
  font-size: 10pt;
}
.hexPlant h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hexPlant h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hexPlant p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexPlantLink:hover h1, .hexPlantWeed:focus h1,
.hexPlantLink:hover p, .hexPlantWeed:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}


.centered {
margin:50px auto;
text-align:center;
}





/* the button CSS is from the Plastic buttons set -- https://codepen.io/ben_jammin/pen/syaCq*/
.button::-moz-focus-inner{
border: 0;
padding: 0;
}

.button{
display: inline-block;
*display: inline;
zoom: 1;
padding: 6px 20px;
margin: 0;
cursor: pointer;
border: 1px solid #bbb;
overflow: visible;
font: bold 13px arial, helvetica, sans-serif;
text-decoration: none;
white-space: nowrap;
color: #555;
margin-top: 1.5%;
margin-bottom: 1.5%;
margin-left: 5%;
margin-right: 5%;

background-color: #ddd;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

-webkit-transition: background-color .2s ease-out;
-moz-transition: background-color .2s ease-out;
-ms-transition: background-color .2s ease-out;
-o-transition: background-color .2s ease-out;
transition: background-color .2s ease-out;
background-clip: padding-box; /* Fix bleeding */
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
text-shadow: 0 1px 0 rgba(255,255,255, .9);

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.button:hover{
background-color: #eee;
color: #555;
}

.button:active{
background: #e9e9e9;
position: relative;
top: 1px;
text-shadow: none;
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active{
border-color: #eaeaea;
background: #fafafa;
cursor: default;
position: static;
color: #999;
/* Usually, !important should be avoided but here it's really needed :) */
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
text-shadow: none !important;
}

/* Smaller buttons styles */

.button.small{
padding: 4px 12px;
}

/* Larger buttons styles */

.button.large{
padding: 15px 25px;
text-transform: uppercase;
}

.button.large:active{
top: 2px;
}

/* Colored buttons styles */

.button.green, .button.red, .button.blue {
color: #fff;
text-shadow: 0 1px 0 rgba(0,0,0,.2);

background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */

.button.green{
background-color: #57a957;
border-color: #57a957;
}

.button.green:hover{
background-color: #62c462;
}

.button.green:active{
background: #57a957;
}

/* */

.button.red{
background-color: #ca3535;
border-color: #c43c35;
}

.button.red:hover{
background-color: #ee5f5b;
}

.button.red:active{
background: #c43c35;
}

/* */

.button.blue{
background-color: #269CE9;
border-color: #269CE9;
}

.button.blue:hover{
background-color: #70B9E8;
}

.button.blue:active{
background: #269CE9;
}

/* */

.green[disabled], .green[disabled]:hover, .green[disabled]:active{
border-color: #57A957;
background: #57A957;
color: #D2FFD2;
}

.red[disabled], .red[disabled]:hover, .red[disabled]:active{
border-color: #C43C35;
background: #C43C35;
color: #FFD3D3;
}

.blue[disabled], .blue[disabled]:hover, .blue[disabled]:active{
border-color: #269CE9;
background: #269CE9;
color: #93D5FF;
}

/* Group buttons */

.button-group,
.button-group li{
display: inline-block;
*display: inline;
zoom: 1;
}

.button-group{
font-size: 0; /* Inline block elements gap - fix */
margin: 0;
padding: 0;
background: rgba(0, 0, 0, .1);
border-bottom: 1px solid rgba(0, 0, 0, .1);
padding: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

.button-group li{
margin-right: -1px; /* Overlap each right button border */
}

.button-group .button{
font-size: 13px; /* Set the font size, different from inherited 0 */
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
}

.button-group .button:active{
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:first-child .button{
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active{
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button{
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active{
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}