* {
  margin: 0;
  padding: 0;
}
body {
  /*background-image: url('public/img/downtown.jpg');*/
  background-image: url("https://i.pinimg.com/originals/84/dc/49/84dc49232abd75f1f8f8b355acd2d2b8.jpg");
  background-position: fixed;
  /*background-size: fill;
  background-repeat: no-repeat;*/

}
#root {
  text-align: center;
}

.logo {
  max-width: 40%;
}

header {
  font-size: 24pt;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(17, 126, 111);

}


/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 for Hex shape*/

#hexGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  overflow:hidden;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.hex {
  width: 40%;
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width: 100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;

  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex p {
  font-size: 10pt;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION */
/* USED THIS GIT CODE: https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices and above hover effect*/

@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%;
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    grid-column-start: 2;
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    grid-template-columns: repeat(8,1fr);
    padding-bottom: 5.5%;
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    grid-column-start: 2;
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 7.4%;
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    grid-column-start: 2;
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
#hexGrid{
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 11.2%;
  grid-gap:5px;
}
.hex:nth-child(3n+3){ /* first hexagon of even rows */
  grid-column-start: 2;
}
}

@media (max-width: 400px) {
  #hexGrid {
      font-size: 13px;
  }
}

/*info for weed board*/

.hexWeed {
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hexWeed::after{
  content:'';
  display:block;
  padding-bottom: 80.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width:100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexWeedLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexWeed img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hexWeed h1, .hexWeed p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(128, 26, 0, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hexWeed p {
  font-size: 10pt;
}
.hexWeed h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hexWeed h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hexWeed p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexWeedLink:hover h1, .hexLinkWeed:focus h1,
.hexWeedLink:hover p, .hexLinkWeed:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*info for plant board*/

.hexPlant {
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hexPlant::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width:100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexPlantLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexPlant img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hexPlant h1, .hexPlant p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(128, 115, 0, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hexPlant p {
  font-size: 10pt;
}
.hexPlant h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hexPlant h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hexPlant p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexPlantLink:hover h1, .hexPlantWeed:focus h1,
.hexPlantLink:hover p, .hexPlantWeed:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}