* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(123, 158, 158);

}
#root {
  text-align: center;
}

#root {
  max-width: 75%;
}


/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 for Hex shape*/

#hexGrid {
  display: grid;
  grid-gap:5px;
  grid-template-columns: repeat(10,1fr);
  width: 90%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  overflow:hidden;
  text-align: center;
}

.hex {
  grid-column-end: span 2;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix jagged edges from multiple boxes showing wiht thicker line*/
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* offset for bottom points to interlace*/
}
.hexIn{
  position: absolute;
  width:100%;
  padding-bottom: 115.470%; /* offset for space in between hexs' origins */
  overflow: hidden; /* hides the boxes they are made of*/
  visibility: hidden;
  outline:1px solid transparent; /* fixed yucky edges for boxes */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fixed yucky edges of boxes */
}
/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/* USED THIS TUTORIAL: https://www.youtube.com/watch?v=jPIskLkEvU4 */
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

/*Below are parts of hover effects used from this git:  https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices*/
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex p {
  font-size: 10pt;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 16pt;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION */
/* USED THIS GIT CODE: https://github.com/web-tiki/responsive-grid-of-hexagons/blob/css-grid/index.html for griding practices and above hover effect*/

@media (min-width:1201px) { /* 5 hexes in first row*/
  #hexGrid{
    padding-bottom: 4.4%;
  }
  .hex:nth-child(9n+6){ /* 4 hexes in next row */
    grid-column-start: 2;
  }
}